.whole{
    width: 150px;
    margin: 50px;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: green;
    gap: 5px;
    
}
.headingDiv{
    background-color: aliceblue;
    border: 1px solid whitesmoke;
}
.displayDiv{
    background-color: aliceblue;
    border: 1px solid #dbd6d3;
}
.buttonSetDiv{
    align-items: center;
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.row{
    width: 150px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
button{
    width: 40px;
}
#clear,#delete{
    width: 80px;
}